 .u-section-1 {
  background-image: linear-gradient(#adcce9, #4c7397);
}

.u-section-1 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1 .u-image-1 {
  width: 571px;
  height: 321px;
  margin: 24px auto 0 -1px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 500px;
  margin: -321px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -179px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 8px 570px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  margin: 81px auto 50px 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 570px;
    margin-top: 342px;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 413px;
    margin-top: -204px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -185px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 69px;
    margin-left: -6px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 316px;
    margin-top: 385px;
    margin-right: auto;
    margin-left: 152px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -726px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 150px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 324px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    margin-top: 67px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 410px;
    height: 360px;
    margin-top: 428px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -816px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 252px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 298px;
    margin-top: -37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 169px;
    margin-bottom: 47px;
  }
}